
.navbar-collapse .navbar-nav .nav-item a:hover {
    color: #5f8bc8;
    /* will change coor of mouse hover*/
}

.cart-item {
    margin-bottom: 1rem;
}

@media (max-width: 768px){
    .banner-image {
        min-height: 300px;
    }
}